<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ruta 1</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Taquillera de Ruta</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:63342/Rutas/demo/template/interface.html?_ijt=ripcrl5brm24ev9q4lanmnt9g&_ij_reload=RELOAD_ON_SAVE#">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:63342/Rutas/demo/template/rutaUno.html?_ijt=cdcvakup0tn0oh78q0kbnseej8&_ij_reload=RELOAD_ON_SAVE">Ruta Garzon</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="http://localhost:63342/Rutas/demo/template/rutaDos.html?_ijt=cdcvakup0tn0oh78q0kbnseej8&_ij_reload=RELOAD_ON_SAVE">Ruta Ibague<span class="sr-only">(actual)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:63342/Rutas/demo/template/rutaTres.html?_ijt=cdcvakup0tn0oh78q0kbnseej8&_ij_reload=RELOAD_ON_SAVE">Ruta Bogota</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container mt-4">
    <h1 class="text-center mb-4">Ruta Neiva-Ibague</h1>
    <div class="row">
        <div class="col-md-6">
            <img src="imagen/Ibague.png" width=" 500" height="400">
        </div>
        <div class="col-md-6">
            <h2 class="mb-4">Detalles de la Ruta</h2>
            <ul class="list-group">
                <li class="list-group-item">Hora de Salida: 4:00 PM</li>
                <li class="list-group-item">Punto de Partida: Terminal de Autobuses</li>
                <li class="list-group-item">Precio: 45.000</li>
                <a class="btn btn-primary" href="http://localhost:63342/Rutas/demo/template/ventaBoleto.html?_ijt=mf91bv2sf1p77i4vlo81gver87&_ij_reload=RELOAD_ON_SAVE">Comprar</a>
            </ul>
        </div>
    </div>
</div>
