<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:href="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Venta de Boletas</title>
  <!-- Enlaces a los archivos de estilos de Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<!-- Barra de navegación -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Taquillera de Ruta</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="http://localhost:63342/Rutas/src/main/resources/template/interface.html?_ijt=3eas2elnhu3jt2ovqgopdsadtq&_ij_reload=RELOAD_ON_SAVE">Inicio</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Boletos <span class="sr-only">(actual)</span></a>
      </li>
    </ul>
  </div>
</nav>

<div class="container mt-4">
  <h3 class="text-center mb-4">Venta de Boletas</h3>
  <form action="@{/save}" th:object="${cliente}" method="POST">
    <div class="form-group">
      <label>ID</label>
      <input th:field="*{id}" type="text" class="form-control" required>
    </div>
    <div class="form-group">
      <label>Nombre y Apellidos</label>
      <input th:field="*{name}" type="text" class="form-control" required>
    </div>
    <div class="form-group">
      <label>Destino:</label>
      <select th:field="*{destino}"class="form-slect" id="destino"  required>
        <option value="" disabled selected hidden="">Seleccionar</option>
        <option value="tarjeta">Ibague</option>
        <option value="tarjeta">Garzon</option>
        <option value="tarjeta">Bogota</option>
      </select>
    </div>
    <div class="form-group">
      <label>telefono</label>
      <input th:field="*{telefono}" type="text" class="form-control"required>
    </div>
    <div class="form-group">
        <label>Cantidad de Boletas</label>
      <input th:field="*{boleto}" type="text" class="form-control"  min="1" max="50" required>
      </div>
    <div class="form-group">
      <label>Método de Pago:</label>
      <select th:field="*{metodo}" class="form-control" id="metodo " required>
        <option value="" disabled selected hidden="">METODO DE PAGO</option>
        <option value="EFECTIVO">EFECTIVO</option>
        <option value="TARGETA DE DEBITO">TARGETA DE DEBITO</option>
        <option value="TARGETA DE CREDITO">TARGETA DE CREDITO</option>
      </select>
    </div>
    <div class="card-footer">
      <input type="submit" value="Guardar" class="btn btn-success">
      <a th:href="@{/inicio}" class="btn btn-warning">Atras</a>
    </div>
  </form>
</div>
