<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>GNP</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<body style="background:url('https://img.freepik.com/vector-premium/rutas-aereas-aviones-papel-tapiz-patrones-fisuras_88653-248.jpg')no-repeat; background-size:cover; ">
<style>
    body {
        font-family: Arial, Arial;
        color: black;
        font-size: 19px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;

    }

    main {
        max-width: 900px;
        margin: 0 auto;
        padding: 10px;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0);
        background-color: rgba(0, 0, 0, 0);
        text-align: center;

    }







</style>

<header>

    <div class="container"></div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

        <div class="container-fluid">
            <a class="navbar-brand"
               th:href="@{/inicio}">
                <i class="bi bi-airplane-fill"></i>
                <spann class="text-primary">GNP</spann>
            </a>

            <button class="navbar-toggler" type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#menu"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="menu">

                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{/inicio}">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " th:href="@{/listar}">TaquillasCompradas</a>

                    </li>

                </ul>
                <hr class="text-while-50">

                <ul class="navbar-nav  flex-row flex-wrap text-light">

                    <li class="nav-item">
                        <a class="nav-link" href="/formulario">COMPRAR</a>

                    </li>

                </ul>

            </div>

        </div>

    </nav>
</header>


    <main><div class="container mt-4">
        <h1 class="text-center mb-4">Bienvenido a la Taquillera de Ruta</h1>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Rutas Disponibles</h5>
                        <p class="card-text">Consulte la lista de rutas disponibles y seleccione la que desee para ver más
                            detalles y comprar boletos.</p>
                        <a class="btn btn-primary" href="/rutaDos">Ibague</a>
                        <a class="btn btn-primary" href="/rutaUno">Garzon</a>
                        <a class="btn btn-primary" href="/rutaTres">Bogota</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Comprar Boletos</h5>
                        <p class="card-text">Compre boletos para la ruta de su elección. Es rápido, fácil y seguro.</p>
                        <a class="btn btn-primary" href="/formulario">Comprar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
</body>
</html>